* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


/* ------------- NAV SECTION -------------- */


nav {
    height: 75px;
    width: 100%;
    padding: 0 3em;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    justify-content: space-between;
}
nav .logo h1 {
    color: white;
    font-size: 2.2em;
}
nav menu ul {
    list-style-type: none;
}
nav menu ul li {
    display: inline;
    transition: .3s ease;
    padding: 0 2em;
    width: fit-content;
}
nav menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    position: relative;
    transition: .3s ease;
    font-weight: 500;
    padding: 0 0 .2em 0;
    text-transform: uppercase;
}
nav menu ul li a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 3px;
    border-radius: 5px;
    width: 0%;
    transition: .3s ease;
    display: block;
    color: #ff4646;
    background-color: #ff4646;
}
nav menu li:hover a {
    color: #ff4646;
    transition: .3s ease; 
}
nav menu li:hover a::after {
    width: 100%;
    transition: .3s ease;
}

nav .hamburger {
    display: none;
}
nav .hamburger span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: white;
    margin: 0 0 .3em 0;
    transition: .2s ease;
    border-radius: 5px;
}
nav .hamburger.active span:nth-child(2) {
    opacity: 0;
}
nav .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    translate: 0 8px;
    transition: .2s ease;
}
nav .hamburger.active span:nth-child(3) {
    transition: .2s ease;
    transform: rotate(-45deg);
    translate: 0 -8px;
}

nav,main {
    background-color: #020230;
}
/* -------------- MAIN SECTION -------------- */


main {
    min-height: 600px;
    padding: 0 3em;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
}

main .left-side-block {
    min-height: 100;
    width: 50%;
    /* border: 2px solid white; */
}
main .left-side-block h1 {
    margin: 1em 0;
    color: white;
    font-size: 2.1em;
    width: 10ch;
}
main .left-side-block p {
    color: white;
    font-weight: 500;
    width: 60ch;
    margin: 0 0 1em 0;
}
main .left-side-block button {
    height: 45px;
    width: 150px;
    font-weight: 500;
    font-size: 1em;
    transition: .3s;
    border: none;
    margin: .7em .6em 0 0;
    border-radius: 5px;
    outline: none;
}
main .left-side-block button.first {
    background-color: #03a7d3;
    color: white;
}
main .left-side-block button.first:hover {
    background-color: transparent;
    transition: .3s;
    border: 1px solid #03a7d3;
    color: #03a7d3;
}
main .left-side-block button.second {
    background-color: #ff4646;
    color: white;
}
main .left-side-block button.second:hover {
    background-color: transparent;
    border: 1px solid #ff4646;
    color: #ff4646;
    transition: .3s;
}
main .right-side-block {
    min-height: 100;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}
main .right-side-block img {
    max-width: 80%;
    animation: shake 4s ease infinite 2s;
}
@keyframes shake {
    0% {
        translate: 0 0;
    }
    25% {
        translate: 0 10px;
    }
    50% {
        translate: 0 0;
    }
    75% {
        translate: 0 10px;
    }
    100% {
        translate: 0 0;
    }    
}


/* ------------- SERVICE SECTION -------------- */


section#service {
    min-height: 100vh;
    background-color: whitesmoke;
    padding: 2em 3em;
}
section#service h1 {
    text-transform: uppercase;
    font-size: 2.1em;
    text-align: center;
    margin: 2em 0;
}
section#service .wrapper {
    min-height: 100%;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    padding: 1em 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    align-items: center;
}
section#service .contants {
    max-height: 300px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7em 0;
    flex-direction: column;
    background-color: white;
    transition: .2s;
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section#service .contants:hover .img-Box {
    background-color: #ff4646;
    transition: .2s;
}
section#service .contants .img-Box {
    height: 5em;
    transition: .2s;
    width: 5em;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#service .contants .img-Box img {
    height: 2.5em;
}
section#service .contants .img-Box+h2 {
    text-transform: capitalize;
    margin: .5em 0;
    font-weight: 600;
}
section#service .contants .img-Box~p {
    text-align: center;
    font-weight: 400;
    margin: 0 0 .5em 0;
}
section#service .contants .img-Box~a {
    text-decoration: none;
    color: #007bff;
    transition: .2s;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
section#service .contants .img-Box~a:hover {
    color: #ff4646;
    transition: .2s;
}
section#service .contants .img-Box~a>i {
    padding: 0 .4em;
}



/* ------------ ABOUT SECTION ------------- */


article#about {
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    /* border: 1px solid; */
    padding: 2em 3em;
    align-items: center;
}

article#about .left-side-block,
article#about .right-side-block{
    /* border: 1px solid; */
    width: 50%;
    padding: 0 .8em;
    min-height: 100%;
}
article#about .left-side-block h1{
    font-size: 2.1em;
    margin: .7em 0;
    text-transform: capitalize;
}
article#about .left-side-block p {
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 .8em 0;
}
article#about .left-side-block button {
    margin: .6em 0;
    height: 45px;
    width: 140px;
    border: none;
    font-size: 1em;
    font-weight: 500;
    color: white;
    transition: .3s ease;
    background-color: #ff4646;
    border-radius: 5px;
}
article#about .left-side-block button:hover {
    border: 1px solid #ff4646;
    color: #ff4646;
    transition: .3s ease;
    background-color: transparent;
}
article#about .right-side-block img {
    max-width: 100%;
}


/* ----------- DETAILS SECTION ------------- */

section#details {
    min-height: 60vh;
    background-color: whitesmoke;
    /* border: 1px solid; */
    padding: 2em 0;
}
section#details aside {
    min-height: 500px;
    background: rgb(0,212,255);
    background: linear-gradient(110deg, rgba(0,212,255,0) 38%, rgba(2,2,48,1) 38%);
    padding: 0 3em;
    display: flex;
    align-items: center;
}
section#details aside .left-block,
section#details aside .right-block {
    /* border: 1px solid white; */
    width: 50%;
    position: relative;
}
section#details aside .left-block img {
    max-width: 100%;
}
section#details aside .right-block h1 {
    font-size: 2.1em;
    color: white;
    margin: .6em 0;
    text-transform: capitalize;
}
section#details aside .right-block {
    padding: 0 1em; 
}
section#details aside .right-block p {
    font-weight: 500;
    color: white;
    margin: 0 0 1em 0; 
}
section#details aside .right-block button {
    height: 45px;
    width: 140px;
    border: none;
    font-size: 1em;
    font-weight: 500;
    transition: .3s ease;
    border-radius: 5px; 
    background-color: #ff4646;
    color: white;
}
section#details aside .right-block button:hover {
    border: 1px solid #ff4646;
    color: #ff4646;
    transition: .3s ease;
    background-color: transparent;
}

section#details aside .left-block .circle {
    height: 80px;
    width: 80px;
    background-color: #03a7d3;
    animation: zoom 2s infinite ease;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
section#details aside .left-block .playbtn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    display: grid;
    place-content: center center;
    left: 50%;
    z-index: 2;
    translate: -50% -50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #03a7d3;
}
section#details aside .left-block .playbtn i {
    color: white;
    font-size: 1.1em;
}
@keyframes zoom {
    0% {
        scale: 0;
        opacity: 1;
    }
    50% {
        scale: 1.2;
        opacity: .6;
    }
    75% {
        scale: 1.3;
        opacity: .4;
    }
    100% {
        scale: 1.4;
        opacity: .2;
    }
}



/* ----------- PRICING SECTION ------------ */


article#pricing {
    min-height: 100vh;
    background-color: whitesmoke;
    padding: 2em 3em;
}
article#pricing>h1 {
    font-size: 2.1em;
    text-align: center;
    text-transform: capitalize;
    margin: 1em 0;
}
article#pricing .wrapper {
    min-height: 500px;
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article#pricing .wrapper>.container {
    min-height: 100%;
    width: 320px;
    /* border: 1px solid; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article#pricing .wrapper>.container>.pricing-Box {
    min-height: 350px;
    width: 300px;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
article#pricing .wrapper>.container>.pricing-Box>h1 {
    font-size: 2.5em;
    font-weight: 600;
}
article#pricing .wrapper>.container>.pricing-Box>h2 {
    color: #03a7d3;
    font-size: 1.5em;
    font-weight: 500;
}
article#pricing .wrapper>.container>.pricing-Box p {
    transition: .2s;
}
article#pricing .wrapper>.container:hover .pricing-Box{
    background-color: #03a7d3;
    box-shadow: none;
}
article#pricing .wrapper>.container:hover .pricing-Box+button {
    background-color: #03a7d3;
    color: white;
}
article#pricing .wrapper>.container:hover .pricing-Box>* {
    color: white;
}
article#pricing .wrapper>.container>.pricing-Box+button {
    height: 45px;
    width: 140px;
    border: none;
    background-color: #ff4646;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
}



/*--------------- CONTACT SECTION ------------ */


section#contact {
    min-height: 100vh;
    background-color: whitesmoke;
    padding: 2em 3em;
}

section#contact>h1 {
    font-size: 2.1em;
    text-align: center;
    margin: 1em 0;
    letter-spacing: 1px;
}
section#contact .form {
    min-height: 400px;
    /* border: 2px solid; */
    width: 80%;
    margin: 0 auto;
}
section#contact .form form{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
section#contact .form form input {
    height: 50px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #b0b0b0;
    outline: none;
    padding: 0 1em;
    font-size: 1em;
    background-color: transparent;
}
section#contact .form form textarea {
    width: 80%;
    height: 150px;
    resize: none;
    margin: 0 auto;
    border: 1px solid #b0b0b0;
    outline: none;
    padding: 1em 1em;
    font-size: 1em;
    background-color: transparent;
}
section#contact .form form button {
    height: 50px;
    width: 140px;
    background-color:  #ff3030;
    color: white;
    font-weight: 500;
    font-size: 1em;
    outline: none;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}
section#contact .form form button:hover {
    border: 1px solid #ff4646;
    color: #ff4646;
    background-color: transparent;
}




/*-------------- FOOTER SECTION --------------- */


footer {
    min-height: 60vh;
    padding: 3em 3em 0;
    background-color: #020230;
}
footer>.wrapper {
    min-height: 400px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer>.wrapper>.contants {
    height: 300px;
    width: 250px;
    /* border: 2px solid yellow; */
}
footer>.wrapper>.contants>h1 {
    margin: 0 0 .8em 0;
    color: white;
    font-weight: 600;
    font-size: 1.8em;
}
footer>.wrapper>.contants:first-child>p {
    color: white;
    font-weight: 500;
    margin: 0 0 .4em 0;
    display: flex;
    align-items: center;
}
footer>.wrapper>.contants:first-child>p>i {
    padding: 0 .5em 0 0;
}
footer>.wrapper>.contants:first-child>.social-links {
    width: 100%;
    margin: 2em 0;
    display: flex;
    gap: 1.5em;
}
footer>.wrapper>.contants:first-child>.social-links i {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
footer>.wrapper>.contants:first-child>.social-links i:hover {
    color: #ff3030;
}
footer .wrapper .contants ul {
    list-style-type: none;
} 
footer .wrapper .contants ul li {
    padding: 0 0 .7em ;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
}
footer .wrapper .contants ul li:hover {
    color: #ff3030;
}
footer .wrapper .contants ul li i {
    margin: 0 .6em 0 0;
}
footer .wrapper .contants p {
    color: white;
    font-size: 1em;
    width: 23ch;
}
footer .wrapper .contants:last-child {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
footer .wrapper .contants:last-child input {
    height: 40px;
    width: 220px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 2px;  
    color: white;
    font-size: 1em;
    border-bottom: 2px solid white;
}
footer .wrapper .contants:last-child input:focus {
    border-bottom: 2px solid #ff3030;
    border-radius: 2px;  
    color: #ff3030;
}
footer .wrapper .contants:last-child button {
    height: 45px;
    width: 200px;
    background-color: #ff3030;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}
footer .wrapper .contants:last-child button:hover {
    border: 1px solid #ff3030;
    background-color: transparent;
    color: #ff3030;
}
footer figcaption {
    min-height: 75px;
    width: 95%;
    border-top: 1px solid white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer figcaption p {
    color: white;
    text-align: center;
    font-weight: 500;
}


/* ---------- MEDIA QURIES ------------ */



@media (max-width: 1200px) {
    nav menu ul li {
        padding: 0 1.6em;
    }
    main .left-side-block p {
        width: 42ch;
    }
    article#pricing .wrapper {
        gap: 2em;
        justify-content: center;
    }
    article#pricing .wrapper>.container{
        gap: 2em;

    }
    footer>.wrapper {
        gap: 2em;
    }
}


@media (max-width: 992px) {
    nav menu {
        min-height: 300px;
        width: 50%;
        position: fixed;
        top: 13%;
        right: -50%;
        background-color: rgba(255, 255, 255, 0.129);
        transition: .4s ease;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        z-index: 10;
    }
    nav menu ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: .4s ease;
        align-items: center;
    }
    nav menu ul li {
        transition: .4s ease;
        padding: 1em 0;
        border-radius: 10px;
    }
    nav menu.active {
        /* top: 12%; */
        right: 15px;
        transition: .4s ease;
    }
    nav .hamburger {
        display: block;
    }
    main .left-side-block h1 {
        font-size: 1.8em;
    }
    main .left-side-block p {
        width: 32ch;
    }
    section#service h1,
    article#about .left-side-block h1,
    section#details aside .right-block h1,
    article#pricing>h1,
    section#contact>h1,
    footer>.wrapper>.contants>h1 {
        font-size: 1.9em;
    }
    article#pricing .wrapper>.container>.pricing-Box>h1 {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    main {
        padding: 2em 3em;
        flex-direction: column;
        gap: 1em;
    }
    main .left-side-block,
    main .right-side-block {
        width: 100%;
    }
    main .left-side-block h1 {
        font-size: 2em;
        width: 20ch;
    }
    main .left-side-block p {
        width: 60ch;
    }
    article#about {
        flex-direction: column;
        gap: 2em;
    }
    article#about .left-side-block,
    article#about .right-side-block {
        width: 100%;
    }
    section#details aside {
        padding: 2em 3em;
        background-color: #020230;
        flex-direction: column;
        gap: 1em;
    }
    section#details aside .left-block,
    section#details aside .right-block {
        width: 100%;
    }
}
